* {
    background-color: black;
}

h1,
p,
table,
th,
td  {
    color: white;
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

table {
    background-color: lightpink;
}

th {
    background-color: darkslategray;
}

td {
    text-align: center;
}

.code {
    color: darkslategray;
    font-family: monospace;
    background-color: beige;
}
